.form-wrapper{

}

.form-container {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  /* max-width: 600px; */
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
}
.form-container form{
  max-width: 50%;
}
.form-container input, textarea{
  background-color: #fff;
  color: black;
}
.form-container textarea{
  max-width: 94%;
}
.form-container form{
    margin: auto;
}

.form-title {
  text-align: center;
  color: #333;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #7654EE;
}

.input-label {
  color: #333;
  font-weight: 500;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.input-field {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.textarea {
  height: 4rem;
}

.file-input {
  padding: 0.5rem;
  cursor: pointer;
}

.date-picker-container {
  display: flex;
  justify-content: space-between;
}

.social-media-section,
.contact-info-section,
.site-info-section {
  margin-top: 1.5rem;
}

.social-media-grid,
.contact-info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.social-media-input,
.contact-info-input {
  display: flex;
  align-items: center;

}

.social-icon {
  margin-right: 0.5rem;
  color: #7654EE;
  height: 30px;
}

.submit-button {
  width: 100%;
  padding: 0.8rem;
  background-color: #7654EE;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius:10px;
  margin-bottom: 2rem;
}

.checkbox-wrapper{
  color: #7654EE;
  font-weight: 500;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkbox-wrapper >  input[type='checkbox']{
  width: fit-content;
  background-color: white !important;
  accent-color: #7654EE;
  margin: 0px;
  cursor: pointer;
}