
.container {
    padding: 2rem;
    margin: 0 auto;
    color: #000;
    width: 100vw;
   
}

.title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #333;
}

.analyticsContainer {
    overflow: scroll !important;
    display: table;
    width: 95vw;
    max-height: 100vh;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
}

.userCard {
    display: table-row;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
}

.userCard:hover {
    background-color: #f5f5f5;
    transform: none;
    box-shadow: none;
}

.userHeader {
    display: table-cell;
    padding: 1rem;
    vertical-align: middle;
    width: 25%;
    display: flex;
    gap: 1rem;
}

.userHeader h3 {
    margin: 0;
    color: #333;
    font-size: 1rem;
}

.verifiedBadge {
    display: inline-block;
    background: #4CAF50;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 12px;
    font-size: 0.75rem;
}

.userDetails {
    display: table-cell;
    padding: 1rem;
    vertical-align: middle;
    width: 75%;
}

.detailItem {
    display: inline-block;
    width: 25%;
    padding-right: 1rem;
    box-sizing: border-box;
}

.label {
    color: #666;
    font-weight: 500;
}

.authProvider {
    text-transform: capitalize;
    color: #2196F3;
    font-weight: 500;
}

.userCard:first-child {
    background-color: #f8f9fa;
    font-weight: bold;
}

.userCard:first-child .userHeader h3 {
    font-size: 1.1rem;
}




.tableContainer {
    max-width: 100%;
    overflow-x: auto;
    margin: 20px 0;
  }
  
  .userTable {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }
  
  .userTable thead {
    background-color: #f4f4f4;
  }
  
  .userTable th,
  .userTable td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .userTable th {
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
  }
  
  .userTable tbody tr:hover {
    background-color: #f9f9f9;
  }
  
  .userTable td {
    color: #666;
  }

  .exportButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
  
  .exportButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
    font-weight: bold;
  }
  
  .exportButton:hover {
    background-color: #45a049;
  }