.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: #000;
  }
  
  .popup-content {
    /* background-color: white; */
    padding: 20px;
    border-radius: 8px;
    /* max-width: 700px; */
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

  
  }
  .popup-content form{
    display: flex;
    max-width: 700px;
    height: 90vh;
  }
  
  .popup-content form > div {
    margin-bottom: 16px;
    height: 90vh;
  }
  
  .answer-input{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
  }
  .answer-input label{
   width: fit-content;
   color: #000;
  }
  
  .popup-content input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    background-color: #fff;
    color: #000;
  }
  .popup-content label {
    display: block;
    margin-bottom: 4px;
    color: #000;
  }

  .popup-content h3,
  .popup-content h4 {
    color: #000;
    margin-bottom: 16px;
    margin-top: 0;
  }

  .style-inputs {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 16px;
    padding-top: 0;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .style-inputs div {
    margin-bottom: 12px;
  }

  .style-inputs select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
  }

  .style-inputs input[type="color"] {
    width: 50px;
    height: 30px;
    padding: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .popup-content button {
    padding: 8px 16px;
    margin-right: 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
  }

  .popup-content button:hover {
    background-color: #45a049;
  }

  .popup-content input[type="checkbox"],
  .popup-content input[type="radio"] {
    margin-right: 8px;
    cursor: pointer;
  }
  .multiple-select-container{
  display: flex !important;
  align-items: center;
  gap: 10px;
  flex-direction: row-reverse;

  }